@model IEnumerable<MusicWeb.Models.Album>

@{
    ViewBag.Title = "DSAlbum";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DSAlbum</h2>

<p>
    @Html.ActionLink("Create New", "ThemAlbum")
</p>
<table class="table">
    <tr>
        <th style="width:150px">Tên Album</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenAlbum)
            </td>
            <td>
                @Html.ActionLink("Delete", "XoaAlbum", new { id = item.MaAlbum })
            </td>
        </tr>
    }

</table>
