@model IEnumerable<MusicWeb.Models.Album>

@{
    ViewBag.Title = "DSAlbum";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Album</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("ThemAlbum", "Admin")">Thêm mới Album</a>
</p>
<table class="table">
    <tr>
        <th style="width:150px">Mã Album</th>
        <th style="width:150px">Tên Album</th>
        <th style="width: 150px">Tương Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenAlbum)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("XoaAlbum", "Admin", new { id = item.MaAlbum })" class="lnkGetReward">Xóa</a>
            </td>
        </tr>
    }

</table>
