@model IEnumerable<MusicWeb.Models.NgheSi>

@{
    ViewBag.Title = "DSNgheSi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Nghệ Sĩ</h2>

<p>
    @Html.ActionLink("Thêm mới nghệ sĩ", "ThemNgheSi")
</p>
<table class="table">
    <tr>
        <th style="width:150px">Id</th>
        <th style="width:150px">Tên Nghệ Sĩ</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNgheSi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNgheSi)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNgheSi })
        </td>
    </tr>
}

</table>
