@model IEnumerable<MusicWeb.Models.NgheSi>

@{
    ViewBag.Title = "DSNgheSi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Nghệ Sĩ</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("ThemNgheSi", "Admin")">Thêm mới nghệ sĩ</a>
    @*@Html.ActionLink("Thêm mới nghệ sĩ", "ThemNgheSi")*@
</p>
<table class="table">
    <tr>
        <th style="width:150px">Id</th>
        <th style="width:150px">Tên Nghệ Sĩ</th>
        <th style="width: 150px">Tương Tác</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNgheSi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNgheSi)
        </td>
        <td>
            <a class="btn btn-info" href="@Url.Action("XoaNgheSi", "Admin", new { id = item.MaNgheSi })" class="lnkGetReward">Xóa</a>
        </td>
    </tr>
}

</table>
