@model IEnumerable<MusicWeb.Models.SangTac>

@{
    ViewBag.Title = "DSSangTac";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Tác Giả</h2>

<p>
    <a class="btn btn-info" href="@Url.Action("ThemSangTac", "Admin")">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th style="width:150px">Id</th>
        <th style="width:190px">Tên Người Sáng Tác</th>
        <th style="width:150px">
            Tương Tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSangTac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiST)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("XoaSangTac", "Admin", new { id = item.MaSangTac })" class="lnkGetReward">Xóa</a>
                @*@Html.ActionLink("Delete", "XoaSangTac", new { id = item.MaSangTac })*@
            </td>
        </tr>
    }

</table>
