
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <div style=" width:100%; float:left; border-left:dotted 5px; border-color:azure">
        <img src="~/img/record-player-1851576_1920.jpg" width="100%"/>
    </div>
</div>

