@model MusicWeb.Models.SangTac

@{
    ViewBag.Title = "XoaSangTac";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác Nhận Xóa Thông Tin Tác Giả</h2>

<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tác Giả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiST)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p></p>
            <input type="submit" value="Xác Nhận" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("DSSangTac", "Admin")">Quay về</a>
        </div>
    }
</div>
