@model MusicWeb.Models.TheLoai

@{
    ViewBag.Title = "XoaTheLoaiNhac";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác Nhận Thông Tin Cần Xóa</h2>
<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Thể Loại Nhạc:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p></p>
            <input type="submit" value="Xác Nhận" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("TheLoaiNhac", "Admin")">Quay về</a>
        </div>
    }
</div>
